@import url('https://fonts.googleapis.com/css2?family=Bai+Jamjuree:wght@400;600&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Bai Jamjuree', sans-serif;
    background-image: url(images/bg-header-mobile.png);
    background-repeat: no-repeat;
    background-position: top center;
    background-size: 100% auto;
}
main , section {
    padding: 50px 25px;
    text-align: center;
}
main .logo {
    width: 100px;
    margin-bottom: 40px;
}
h1,h2,p{
    margin-bottom: 20px;
}
h3 {
    margin-bottom: 10px;
}
p {
    opacity: .8;
}
button {
    padding: 15px;
    border-radius: 30px;
    border: none;
    outline: none;
    width: 100%;
    color:white;
    margin: 10px auto;
    font-weight: 600;
}
.ios {
    background-color: hsl(171, 66%, 44%);
}
.mac {
    background-color: hsl(233, 100%, 69%);
}
.flex {
    margin-top: 30px;
}
.flex > div {
    padding: 25px 0;
}
.feature ,.features > div{
    padding: 20px;
}
.devices {
    margin: 10px 0;
}
.keep-track img,.access-anywhere img {
    width: 100%;
}
.sponsers img {
    display: block;
    margin: 50px auto;
}
footer {
    text-align: center;
    padding: 50px 25px;
}
footer .logo {
    width: 50px;
}
footer a {
    color: black;
    padding: 15px;
    display: block;
    text-decoration: none;
}
.social-links  a{
    display: inline;
    margin: 10px;
}
@media (min-width:600px) {
    body {
        padding: 25px 50px;
        background-image: url(images/bg-header-desktop.png);
    }
    p {
        max-width: 500px;
        margin: 10px auto;
    }
    button {
        width: auto;
    }
    .flex {
        display: flex;
    }
    .flex > div {
        padding: 25px;
        text-align: left;
    }
    .flex > div > img {
        width: 90%;
    }
    .access-anywhere img {
        width: 60%;
        margin: 10px auto;
    }
    .features {
        display: flex;
        justify-content: space-between;
        margin: 30px 0;
    }
    .sponsers {
        display: flex;
        justify-content: center;

    }
    .sponsers > div {
        margin: 0 30px;
    }
    footer {
        display: flex;
        justify-content: space-around;
        padding: 30px 5rem;
        background-color: hsl(201, 11%, 66%);
    }
    .footer-links {
        display: flex;
        gap: 25px;
    }
    .footer-links > div {
        text-align: left;
        
    }
    footer .logo {
        width: 70px;
        height: 70px;
    }
}